{% extends 'layouts.html' %}

{%block contentA%}

<div class="contentA">
<div class="card text-center">
  <div class="card-body">
    <br><br>
    <h2 class="card-title">Welcome to the Fitness Challenge App</h2>
    <h3 class="card-text">Where you can create and participate in custom fitness challenges</h3>
    <h4 class="card-text">How many challenges can you overcome?</h4>
    <br>
  </div>
  <div class="card-footer text-body-secondary">
    OSU CS467 Capstone Project - Tanner Cline
  </div>
</div>
</div>
<script src="{{url_for('static', filename='main.js')}}"></script>
{%endblock contentA%}